In [2]:
import pandas as pd
import numpy as np

In [3]:
import statsmodels.formula.api as smf

In [6]:
datafilepath = 'C:\\Users\\Rameez PC\\Desktop\\econo in python\\econometrics in python\\'

In [7]:
file= pd.read_excel(datafilepath + 'SandPhedge.xls', index_col=0)

In [8]:
file.head()

               Spot  Futures
Date
2002-02-01  1106.73   1106.9
2002-03-01  1147.39   1149.2
2002-04-01  1076.92   1077.2
2002-05-01  1067.14   1067.5
2002-06-01   989.82    990.1

In [9]:
formulaspecified= 'Spot ~ Futures'

In [10]:
resultis= smf.ols(formulaspecified, file).fit()

In [11]:
print(resultis.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Spot   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.818e+05
Date:                Sun, 17 May 2020   Prob (F-statistic):          4.38e-223
Time:                        12:45:03   Log-Likelihood:                -385.99
No. Observations:                 135   AIC:                             776.0
Df Residuals:                     133   BIC:                             781.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.4943      2.276      2.414      0.017       0.992       9.997
Futures        0.9956      0.002    530.846      0.000       0.992       0.999
==============================================================================
Omnibus:                        1.185   Durbin-Watson:                   0.770
Prob(Omnibus):                  0.553   Jarque-Bera (JB):                1.240
Skew:                          -0.217   Prob(JB):                        0.538
Kurtosis:                       2.820   Cond. No.                     7.55e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.55e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [12]:
## parameter estimate of intercept and slope are 5.4943 and 0.9956 respectively

In [20]:
def LogDiff(x):
    x_diff = 100*np.log(x/x.shift(1))
    x_diff=x_diff.dropna()
    return x_diff

In [21]:
datafile= pd.DataFrame ({'return_spot': LogDiff(file['Spot']), 'return_futures': LogDiff(file['Futures'])})

In [22]:
datafile.head()

            return_spot  return_futures
Date
2002-03-01     3.608008        3.750273
2002-04-01    -6.338468       -6.470097
2002-05-01    -0.912294       -0.904562
2002-06-01    -7.521434       -7.526880
2002-07-01    -8.229987       -8.271435

In [23]:
datafile.describe()

       return_spot  return_futures
count   134.000000      134.000000
mean      0.273926        0.271309
std       4.591529        4.548128
min     -18.383967      -18.802565
25%      -1.771246       -1.725040
50%       1.101731        1.024841
75%       3.056298        3.028010
max      10.065538       10.391186

In [24]:
formula2= 'return_spot ~ return_futures'

In [25]:
results2 = smf.ols(formula2, datafile).fit()

In [26]:
print(results2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            return_spot   R-squared:                       0.996
Model:                            OLS   Adj. R-squared:                  0.996
Method:                 Least Squares   F-statistic:                 2.949e+04
Date:                Sun, 17 May 2020   Prob (F-statistic):          4.68e-157
Time:                        12:55:49   Log-Likelihood:                -31.172
No. Observations:                 134   AIC:                             66.34
Df Residuals:                     132   BIC:                             72.14
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.0006      0.027      0.024      0.981      -0.052       0.053
return_futures     1.0073      0.006    171.734      0.000       0.996       1.019
==============================================================================
Omnibus:                        2.442   Durbin-Watson:                   2.947
Prob(Omnibus):                  0.295   Jarque-Bera (JB):                2.152
Skew:                          -0.117   Prob(JB):                        0.341
Kurtosis:                       3.575   Cond. No.                         4.55
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.